<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Collection" description="Collection definition items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Foundation">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>