<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:set="http://www.sitecore.net/xmlconfig/set/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
                <defaults>
                    <content>
                        <schemaProviders>
                            <Dinocore type="Hackathon.Dinocore.Feature.Highscores.Providers.DinocoreSchemaProvider, Hackathon.Dinocore.Feature.Highscores" resolve="true"/>
                        </schemaProviders>
                    </content>
                </defaults>
                <endpoints>
                    <dinocore url="/sitecore/api/graph/items/dinocore" type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost" resolve="true">
                        <url>$(url)</url>

                        <schema hint="list:AddSchemaProvider">
                            <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/Dinocore" param1="master" />
                        </schema>

                        <enabled>true</enabled>
                        <gui>true</gui>
                        <security ref="/sitecore/api/GraphQL/defaults/security/publicService" />
                        <performance ref="/sitecore/api/GraphQL/defaults/performance/standard" />

                        <cache type="Sitecore.Services.GraphQL.Hosting.QueryTransformation.Caching.GraphQLQueryCache, Sitecore.Services.GraphQL.NetFxHost">
                            <param desc="name">$(url)</param>
                            <param desc="maxSize">10MB</param>
                        </cache>
                    </dinocore>
                </endpoints>
            </GraphQL>
        </api>
    </sitecore>
</configuration>


