<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Serialization" description="Includes the root tenant folder." extends="Helix.Foundation">
                    <syncConfiguration updateSearchIndex="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Project.Templates" database="master" path="/sitecore/templates/Project">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature">
                            <exclude children="true" />
                        </include>
                        <!--<include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Project.Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Foundation.Templates.Branches" database="master" path="/sitecore/templates/Branches/Foundation/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Templates.Branches" database="master" path="/sitecore/templates/Branches/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Project.Layout" database="master" path="/sitecore/layout/Layouts/Project/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Foundation.Layout" database="master" path="/sitecore/layout/Layouts/Foundation/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Layout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Layout" database="master" path="/sitecore/layout/Layouts/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Project.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Foundation.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Project.Media" database="master" path="/sitecore/media library/Project/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Foundation.Media" database="master" path="/sitecore/media library/Foundation/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.Media" database="master" path="/sitecore/media library/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Project.System.Settings" database="master" path="/sitecore/system/Settings/Project/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Foundation.System.Settings" database="master" path="/sitecore/system/Settings/Foundation/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Feature.System.Settings" database="master" path="/sitecore/system/Settings/Feature/Dinocore">
                            <exclude children="true" />
                        </include>
                        <include name="Core.Templates" database="core" path="/sitecore/templates/Feature/Dinocore">
                            <exclude children="true" />
                        </include>-->
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>